<%= form_for @question, url: {action: "create"} do |f| %>
  <%= f.text_area :content, size: "60x12" %>
  <%= f.text_field :value %>

  <div id="options">
    <%= f.fields_for :options do |option| %>
      <%= render 'option_fields', f: option %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'Añadir opción', f, :options %>
    </div>
  </div>

  <%= f.submit "Create" %>
<% end %>
